body{
    font-family: 'Times New Roman';
    background-color: blueviolet;
    
}
form{
    background-color: rgb(180, 168, 192);
    margin: auto;
    max-width: 400px;
    height: 280px;
    text-align: center;
    border-radius: 8px;
}
h1{
    color: rgb(65, 18, 51);
}
.input{
    text-align: center;
    font-size: 14px;
}
.rad{
    cursor: pointer;
}
label{
    cursor: pointer;;
}
button{
    max-width: max-content;
    font-weight: bold;
    padding: 5px 6px;
    border-radius: 3px;
    border-color: rgb(189, 153, 181);
    cursor: pointer;
}
para{
    font-weight: bold;
}
